* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
    background-color: #0f0f0f;
}
.nav-li{
    width: 50%;
    list-style: none;
    display: flex;
}
.nav-li li{
    letter-spacing: 3px;
    margin-left: 32px;
    
}
.nav-li li a{
    color: #8f8e8e;
    font-weight: bold;
    transition: 0.2s;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}
.nav-li li a:hover{
    color: #f1f1f1;
    transform: scale(1.2);
}
.menu-hamb{
    display: none;
    cursor: pointer;
}

.menu-hamb div{
    width: 32px;
    height: 2px;
    background: #8f8e8e;
    margin: 8px;

}

.logo {
    width: 50px;
    height: 50px;
    font-size: 24px;
    letter-spacing: 4px;
}

main{
    background: url("img-teste.jpg") no-repeat center center;
    background-size: cover;
    height: 92vh;
}

a:link {
    padding: 20px 20px;
    border-radius: 10px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
}
.rodape {
    background-color: #0f0f0f;
    color: #8f8e8e;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.contato-txt h1{
    color: #f1f1f1
}
.contato-txt{
    display: flex;
    align-items: center;
    font-weight: bold;
    justify-content: center;
    flex-direction: column;
}
.rod img{
    width: 22px;
    margin-right: 5px; 
    margin: 0;
    padding: 0;

}
.rod{
    display: flex;
    justify-content: center;
    align-items: center;
}
.rod span{
    margin: 0;
    font-size: 15px;
    font-weight: bold;
    padding: 3px;

}
.contato-txt a{
    text-decoration: none;
    color: #8f8e8e;
    font-weight: bold;
    font-size: 15px;
    transition: 0.2s;
    padding: 0px 0px 10px;
}
.contato-txt a:hover{
    color: blue;
    transform: scale(0.9);
}

body {
    background-color: #f1f1f1;
}

@media (max-width: 1150px) {
    body{
        overflow-x: hidden;
    }
    .nav-li{
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vh;
        height: 92vh;
        background: #0f0f0f;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translatex(100%);
    }
    .nav-li li{
        margin-left: 0;
        opacity: 0;
    }
    .menu-hamb {
        display: block;
    }
    .nav-li.active{
        transform: translatex(0);
    
    }
    
}