* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Arial, sans-serif;
}
li{
    list-style: none;
}

nav{
    text-align: center;
    margin: auto;
    align-items: center;
    justify-content: center;
    display: flex;
}

header{
    position: sticky;
    top: 0;
    padding: 1rem 2rem;
    z-index: 9999;
}
.menu{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu .links{
    display: flex;
    align-items: center;
    gap: 2rem;
    background-color: #0f0f0f;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0px 0px 30px #000000;
}
.botao-inscri{
    font-weight: bold;
    font-size: 1rem;
    backdrop-filter: blur(50px);
    background-color: #8f8e8ebb;
    transition: 0.25s ease;
    color: #0f0f0f;
    padding: 0.9rem 1rem;
    box-shadow: 0px 0px 10px#000000;
    border: none;
    outline: none;
    border-radius: 20px;
}
.botao-inscri:hover{
    transform: scale(1.1);
    background: blue;
    color: #f1f1f1;
}
.botao-inscri:active{
    color: #f1f1f1;
}

.links a{
    text-decoration: none;
    color: #8f8e8e;
    font-weight: bold;
    transition: 0.2s;
    font-size: 1rem;
    padding: 2px 1.5rem;
    border-radius: 20px;
}
.links a:hover{
    transform: scale(1.2);
    color: #f1f1f1;
}

header .menu #pagina-principal{
    color: var(--txtgeral);
    border: 1px solid #f1f1f14d;
    color: #f1f1f1;
    box-shadow: 0 0 10px #f1f1f165;
}
header .menu #pagina-principal:hover{
    color: #f1f1f1;
}

/* logo do site */

.logo {
    width: 50px;
    height: 50px;
    font-size: 24px;
    letter-spacing: 4px;
}

/* fundo do site  */

body{
    background: url("img-teste.jpg") no-repeat center center;
    background-size: cover;
    height: 100%;
    backdrop-filter: blur(5px);
}

/* configurações dos links */

a:link {
    display: inline-block;
    text-align: center;
    text-decoration: none;
}

/* configurações de inscrição - endereço */

.endereco{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-bottom: 80px;

}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

/* Perguntas */

.perguntas{
    margin-top: 60px;
    padding: 30px;
    text-align: center;
    background-color: #0f0f0f;
    border-radius: 20px;
}
.perguntas-txt{
    color: #f1f1f1;
    text-align: left;
    font-size: 20px;
}

.perguntas-txt .campo{
    display: flex;
    flex-direction: column;
    padding: 0.9vh
}
.campo input{
    padding: 0.8vh;
    border-radius: 5px;
    outline: none;
    margin: 5px;
}

/* Endereço */

.endereco-box{
    margin-top: 60px;
    padding: 30px;
    text-align: center;
    background-color: #0f0f0f;
    border-radius: 20px;
}
.endereco h1{
    font-size: 30px;
    margin-bottom: 30px; 
    color: #f1f1f1;
}
.endereco-txt{
    color: #f1f1f1;
    text-align: left;
    font-size: 20px;
}
.endereco-txt .campo{
    display: flex;
    flex-direction: column;
    padding: 0.9vh
}

/* Campo */

.campo input{
    padding: 10px;
    border-radius: 5px;
    outline: none;
    margin: 5px;
}
.campo input:focus{
    border: 3px solid blue;
}
.campo  input:valid{
    border: 3px solid green;   
}
.campo input:invalid{
    border: 3px solid red;
}

#estado{
    border-radius: 5px;
    padding: 10px 10px;
}

/* Check-box */

.check-horarios{
    align-items: center;
    text-align: center;
    margin-top: 20px;
    margin-inline: 17rem;
    background-color: #0f0f0f;
    border-radius: 20px;
    padding: 30px;
}
.check-horarios .check-text{
    padding: 2px;    
}
.check-horarios label{
    padding: 5px;
    color: #f1f1f1;
}

/* termos */

.check-termos{
    text-align: center;
    margin-top: 20px;
    margin-inline: 23rem;
    background-color: #0f0f0f;
    color: #f1f1f1;
    border-radius: 20px;
    padding: 15px;
}

/* Botão */

.btn{
    text-align: center;
    margin-top: 30px;
}
.btn button{
    padding: 10px 20px;
    border-radius: 15px;
    outline: none;
    border: none;
    background-color: #0f0f0f;
    color: #f1f1f1;
    font-size: 20px;
    cursor: pointer;
    transition: 0.2s;
    margin-right: 15px;
}
.btn button:hover{
    box-shadow: 0px 0px 30px #0f0f0f;
    background-color: blue;
    transform: scale(1.1);
}

/* configurar o Rodapé */

.rodape {
    background-color: #0f0f0f;
    color: #8f8e8e;
    text-align: center;
    padding: 20px;
    bottom: 0;
    width: 100%;
}

/* configurar o que tem dentro do Rodapé */

.contato-txt h1{
    color: #f1f1f1;
}

.contato-txt ul{
    display: flex;
    align-items: center;
    font-weight: bold;
    justify-content: center;
    flex-direction: column;
}
.contato-txt a:visited{
    color: #8f8e8e;
}

.rod img{
    width: 2.2vh;
    margin-right: 5px; 
}
.git-hub img{
    margin-top: 0;
    padding-top: 0;
    
}
.rod{
    display: flex;
    justify-content: center;
    align-items: center;
}

.rod li {
    list-style-type: none;
    font-size: 15px;
    font-weight: bold;
    padding: 3px;
}

.contato-txt a{
    text-decoration: none;
    color: #8f8e8e;
    font-weight: bold;
    font-size: 15px;
    transition: 0.2s;
    
}

.contato-txt a:hover{
    color: blue;
    transform: scale(1.1);
}
@media screen and (max-width: 1150px) {
    .menu {
        flex-direction: column;
        gap: 20px;
    }
    .flex{
        flex-direction: column;
        margin-top: 20px;
        gap: 0;
    }
    .check-termos{
        margin-inline: 210px;
    }
}
@media screen and (max-width: 450px) {
    .menu {
        flex-direction: column;
        gap: 20px;
    }
    .menu .links{
        flex-direction: column;
        gap: 20px;
    }
    .logo{
        display: none;
    }
    .flex{
        flex-direction: column;
        margin-top: 20px;
        gap: 0;
    }
    .check-termos{
        margin-inline: 210px;
    }
}