* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

header {
    background-color: #0f0f0f;
    width: 100%;
    position: sticky;
    top: 0;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

header nav ul {
    list-style: none; 
    display: flex; 
    margin: 0;
    padding: 0;
}

header nav ul li {
    margin: 0 10px; 
}

header nav ul li a {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    color: #8f8e8e;
    text-decoration: none;
    transition: 0.1s;
}

header nav ul li a:hover {
    transform: scale(1.1);
    color: #f1f1f1;
}

.logo {
    width: 50px;
    height: 50px;
}

a:link {
    padding: 20px 20px;
    border-radius: 10px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
}
.nav-menu a{
    color: white;
    background-color: blue;
    transition: 0.2s;
}
.nav-menu a:hover{
    color: blue;
    background-color: white;
    box-shadow: 0px 0px 10px blue;
    transform: scale(1.1);
}

.banner {
    position: relative;
}

.banner .img-banner {
    background: url('Imagemfaculdade1.jpeg') no-repeat center;
    background-size: cover;
    position: relative;
    height: 80vh;
}

.banner .blur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80vh;
    backdrop-filter: blur(10px);
    display: grid;
    justify-items: center;
}

main {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1rem;
    line-height: 1.5;
}

.interface {
    display: flex;
}

.data {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
}

.data h1,
.data p {
    color: white;
    -webkit-text-stroke-color: white;

}

.data p {
    font-size: 2rem;
    font-weight: 700;
}

.Enterface {
    padding: 20px;
}

.Enterface .Textos {
    display: flex;
    text-align: center;
    gap: 40px;
    font-family: 'Times New Roman', Times, serif;
}

.Enterface .Textos h3 {
    font-size: 1.5rem;
}

.Enterface .Faculdade-box {
    color: #0f0f0f;
    padding: 40px;
    margin-top: 45px;
    border-radius: 20px;
    transition: 0.3s;
}

.Enterface .Faculdade-box:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 10px black;
    transition: 0.2s;
}

.Enterface .Faculdade-box p {
    text-align: justify;
    font-size: 1rem;
    line-height: 1.5;
}

.Enterface .Faculdade-box h3 {
    font-size: 28px;
    margin: 15px 0;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.5;
}

main h1,
h2 {
    text-align: center;
    margin: 20px 0px;
}
.cobef span {
    font-weight: 700;
    color: blue;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-color: 2px;
}

.cobef a {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    transition: 0.1s;
    padding: 0px 10px;
    border-radius: 5px;
    color: Blue;
}

.cobef a:hover {
    color: #0f0f0f;
}

.conteudo {
    background-color: #ffffff;
    padding: 40px 8%;
    max-width: 1280px;
    margin: auto;
}

.sobre {
    text-align: justify;
}

.Box-inscreva {
    padding: 30px 4%;
}

.Box-inscreva #incre {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 600px;
}

.Box-inscreva #inscre{
    border-radius: 30px;
    padding: 20px;
    text-align: center;
    margin: auto;
    box-shadow: 0px 0px 10px black;
}

.Box-inscreva a {
    padding: 10px;
    border: none;
    color: white;
    background-color: Blue;
    font-size: 20px;
    border-radius: 20px;
    cursor: pointer;
    margin: 0px 5px;
    transition: 0.3s;
    
}

.Box-inscreva a:hover {
    color: white;
    box-shadow: 0px 0px 8px blue;
    transform: scale(1.1);
    
}

.rodape {
    background-color: #0f0f0f;
    color: white;
    text-align: center;
    padding: 20px;
    position: sticky;
    bottom: 0;
    width: 100%;
}
.contato-txt{
    display: flex;
    align-items: center;
    font-weight: bold;
    justify-content: center;
    flex-direction: column;
    
}
.rod img{
    width: 22px;
    margin-right: 5px; 
    margin: 0;
    padding: 0;

}
.rod{
    display: flex;
    justify-content: center;
    align-items: center;
}
.rod span{
    margin: 0;
    font-size: 15px;
    font-weight: bold;
    padding: 3px;

}
.contato-txt a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 15px;
    transition: 0.2s;
    padding: 0px 0px 10px;
}
.contato-txt a:hover{
    color: blue;
    transform: scale(0.9);
}
@media screen and (max-width: 1150px) {
    header {
        flex-direction: column;
        text-align: center;
    } 
    header nav ul {
        flex-direction: column;
        text-align: center;
    }
    .professores-hist {
        flex-direction: column;
        align-items: center;
    }
    .rodape {
        position: relative;
    }
    .sobre {
        padding: 50px 8%;
    }
    .Textos{
        flex-direction: column;
        align-items: center;
        border: 55px;
    }
}

body{
    background-color: #f1f1f1;
}