* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
li{
    list-style: none;
}

header {
    /* position: relative; */
    padding: 0 2rem;

}

header{
    position: sticky;
    top: 0;
}
.menu{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.botao-inscri{
    font-weight: bold;
    font-size: 1rem;
    backdrop-filter: blur(50px);
    
    transition: scale 0.25s ease;
    color: #0f0f0f;
    padding: 0.9rem 1rem;
    box-shadow: 0px 0px 10px#000000;
    border: none;
    outline: none;
    border-radius: 20px;
}
.botao-inscri:hover{
    transform: scale(1.1);
    background: blue;
    color: #f1f1f1;
}
.botao-inscri:active{
    scale: 0.95;
    color: #f1f1f1;
}
.menu .links{
    display: flex;
    align-items: center;
    gap: 2rem;
    background-color: #0f0f0f;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0px 0px 30px #000000;
}
.links a{
    text-decoration: none;
    color: #8f8e8e;
    font-weight: bold;
    transition: 0.2s;
    font-size: 1rem;
    padding: 2px 1.5rem;
    border-radius: 20px;
}
.links a:hover{
    transform: scale(1.2);
    color: #f1f1f1;
}

/* configurações da interface */

.interface{
    text-align: center;
    align-items: center;
}
.data {
    margin-top: 20vh;
    margin-inline: 45vh;
    padding: 11vh;
    color: #f1f1f1;
    font-size: 20px;
    border-radius: 40px;
    
}
.data h1{
    text-shadow: black 0.1em 0.1em 0.1em;
}
.sobre{
    text-align: center;
    align-items: center;
    justify-items: auto;
    margin-top: 5vh;
    margin-inline: 0vh;
    padding: 20px;
    background-color: #f1f1f1;
    box-shadow: 0px 0px 10px 0px #0f0f0f;
}
.textos h1,h2{
    font-size: 30px;
    text-align: center;
}
.textos p{
    margin-bottom: 10px;
    margin-top: 20px;
    text-align: justify;
    font-size: 17px;
    padding: 30px;
}
.textos span{
    font-weight: bold;
    color: blue;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-color: 2px;
}
.Enterface{
    margin-inline: 0vh;
    padding: 20px;
    background-color: #f1f1f1;
    box-shadow: 0px 0px 10px 0px #0f0f0f;
    text-align: center;
    display: flex;
    gap: 40px;
}
.Enterface p{
    text-align: justify;
}

.Enterface .Faculdade-box {
    color: #0f0f0f;
    padding: 40px;
    margin-top: 45px;
    border-radius: 20px;
    transition: 0.3s;
}
.Enterface .Faculdade-box:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 10px black;
}

/* Inscreva-se */

.box-inscreva{
    background-color: #f1f1f1;
    box-shadow: 0px 0px 10px 0px #0f0f0f;
    padding: 20px;
}


/* logo do site */

.logo {
    width: 50px;
    height: 50px;
    font-size: 24px;
    letter-spacing: 4px;
}

/* fundo do site  */

body{
    background: url("img-teste.jpg") no-repeat center center;
    background-size: cover;
    height: 100%;
    backdrop-filter: blur(5px);
}

/* configurações dos links */

a:link {
    display: inline-block;
    text-align: center;
    text-decoration: none;
}

/* configurar o Rodapé */

.rodape {
    background-color: #0f0f0f;
    color: #8f8e8e;
    text-align: center;
    padding: 20px;
    position: sticky;
    bottom: 0;
    width: 100%;
}

/* configurar o que tem dentro do Rodapé */

.contato-txt h1{
    color: #f1f1f1
}
.contato-txt{
    display: flex;
    align-items: center;
    font-weight: bold;
    justify-content: center;
    flex-direction: column;
}
.rod img{
    width: 22px;
    margin-right: 5px; 
    margin: 0;
    padding: 0;

}
.rod{
    display: flex;
    justify-content: center;
    align-items: center;
}
.rod span{
    margin: 0;
    font-size: 15px;
    font-weight: bold;
    padding: 3px;

}
.contato-txt a{
    text-decoration: none;
    color: #8f8e8e;
    font-weight: bold;
    font-size: 15px;
    transition: 0.2s;
    padding: 0px 0px 10px;
}
.contato-txt a:hover{
    color: blue;
    transform: scale(0.9);
}

@media screen and (max-width: 1150px) {
    .menu {
        flex-direction: column;
        gap: 20px;
    }
    .data{
        margin-top: 20vh;
        margin-inline: 5vh;
        padding: 11vh;
    }
    .sobre{
        margin-top: 5vh;
        margin-inline: 0vh;
        padding: 20px;
    }
    .Enterface{
        flex-direction: column;
        gap: 10px;
    }
}